<p-dropdown
  [options]="scopes"
  [(ngModel)]="selectedScope"
  optionLabel="value"
  optionKey="code"
  [filter]="true"
  filterBy="value"
  [showClear]="true"
  (ngModelChange)="filterByScope()"
  placeholder="Wirkbereich"
  [style]="{ width: '100%', 'max-width': '100% !important' }"
  [panelStyle]="{ width: '93vw', 'max-width': '93vw !important' }"
>
  <ng-template pTemplate="selectedItem" let-selectedOption>
    <div class="flex align-items-center gap-2">
      <div>{{ selectedScope?.value }}</div>
    </div>
  </ng-template>
  <ng-template let-scope pTemplate="item">
    <div class="flex justify-content-between gap-2">
      <div class="white-space-normal">
        {{ scope.value }}
      </div>
      <p-tag [value]="scope.code" />
    </div>
  </ng-template>
</p-dropdown>
