<div>
  <div class="flex flex-column p-2 gap-1">
    <div class="flex justify-content-between">
      <div class="text-2xl">{{ psm?.name }}</div>
      <div class="text-sm white-space-nowrap">
        <p-chip [label]="psm?.id"></p-chip>
      </div>
    </div>
    <p-tag *ngFor="let signal of signalWords" [value]="signal.value"></p-tag>
  </div>

  <p-table
    class="m-2"
    [value]="[{ begin: psm?.firstApprovedAt, end: psm?.lastApprovedAt }]"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between text-lg">
        Zulassungszeitraum
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Start</th>
        <th>Ende</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-approved>
      <tr>
        <td>{{ approved.begin | date: 'dd.MM.yyyy' }}</td>
        <td>{{ approved.end | date: 'dd.MM.yyyy' }}</td>
      </tr>
    </ng-template>
  </p-table>

  <p-table class="m-2" [value]="hazardNotes">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between text-lg">
        Gefahrenhinweise
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Code</th>
        <th>Hinweis</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-note>
      <tr>
        <td>{{ note.code }}</td>
        <td>{{ note.value }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="2">Keine Daten verfügbar</td>
      </tr>
    </ng-template>
  </p-table>

  <p-table class="m-2" [value]="safetyNotes">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between text-lg">
        Sicherheitshinweise
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Code</th>
        <th>Hinweis</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-note>
      <tr>
        <td>{{ note.code }}</td>
        <td>{{ note.value }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="2">Keine Daten verfügbar</td>
      </tr>
    </ng-template>
  </p-table>

  <p-table class="m-2" [value]="packaging">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between text-lg">
        Verpackung und Material
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Typ</th>
        <th>Menge</th>
        <th>Einheit</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-packaging>
      <tr>
        <td>{{ packaging.type.value }} - {{ packaging.material.value }}</td>
        <td>{{ packaging.amount }}</td>
        <td>{{ packaging.unit }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="2">Keine Daten verfügbar</td>
      </tr>
    </ng-template>
  </p-table>
</div>
