$primaryColor:#ff4081 !default;
$primaryTextColor:#121212 !default;
$accentColor:#fb8428 !default;
$accentTextColor:#121212 !default;
$secondaryColor:#bc40ff !default;
$accentTextColor:#121212 !default;

@import '../../variables';
@import '../../../_compact';
