<div class="mb-2" style="min-height: 6px">
  <app-loading-indicator [isLoading]="isLoading" />
</div>

<div class="m-3 flex flex-column gap-2">
  <app-name-search (filtered)="nameFilterChanged($event)"></app-name-search>
  <app-scope-filter (filtered)="scopeFilterChanged($event)"></app-scope-filter>
  <app-agent-filter (filtered)="agentFilterChanged($event)"></app-agent-filter>

  <div class="flex flex-column my-2 gap-1">
    <div *ngFor="let item of psm">
      <div class="flex gap-2">
        <div>{{ item.id }}</div>
        <div>{{ item.name }}</div>
      </div>
      <div>
        {{ item.firstApprovedAt.toLocaleDateString() }} -
        {{ item.lastApprovedAt.toLocaleDateString() }}
      </div>
    </div>
  </div>
</div>
