$primaryColor:#ff4081 !default;
$primaryTextColor:#ffffff !default;
$secondaryColor:#bc40ff !default;
$secondaryTextColor:#ffffff !default;
$accentColor:#ff9040 !default;
$accentTextColor:#ffffff !default;

@import '../../variables';
@import '../../../_compact';
